<!DOCTYPE html>
<html>
<head>
	<title>Dashboard -  Chiva <%= login[0].pid %></title>
    <link rel = "icon" href = "https://kadence.com/wp-content/uploads/2020/07/260x260.png" type = "image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="<%= baseurl() %>css/chart.css">
</head>
<%- include ('../partials/header') %>
<body>
<div class="wrapper">
	<div class="lSide">
		<%- include ('../partials/sidebar') %>
	</div>
	<div class="rSide">
		<div class="head desk">
			<%- include ('../partials/topdesk') %>
		</div>
		<div class="mainbox size-std column" style="overflow: unset;">
			<div class="title-content size-std">
				<a href="<%= baseurl() %>">DASHBOARD</a> > <%= task[0].task %>
			</div>
			<% if(task[0].src!="gdrive"){ %>
			<!-- <div class="cols-12 column containt" style="margin: 10px 0; background-color: #ffffff;">
				<video id="videoplayer" width="100%" height="520" controls style="margin-top: 30px">
					<source src="http://apps.kadence.co.id/kepo/files/<%= task[0].id+'/'+task[0].filename %>" type="video/mp4">
                      Your browser does not support the video tag.
				</video>
			</div>
			 -->
			<div class="cols-12">
				<!-- Tabgrid -->
				<% var arrvids = task[0].filename %>
                <div class="full-length containt" style="margin-top: 20px;">
                    <div class="tabgrid full-length">
                        <ul>
							<% for(var i=0;i < arrvids.length;i++){ %>
								<% 
									var splitfile = arrvids[i].split(".") 
									var tipeFile = splitfile[splitfile.length-1]
									if(tipeFile=="jpg" || tipeFile=="jpeg" || tipeFile=="png"){
										var tabname = "Image"
									}else{
										var tabname = "Video"
									}
								%>
								<% if(i == 0){ %>
								<li class="thistab delay active" data="video<%= i+1 %>" data-target="<%= i %>"><%= tabname %> <%= i+1 %></li>
								<% }else{ %>
								<li class="thistab delay" data="video<%= i+1 %>" data-target="<%= i %>"><%= tabname %> <%= i+1 %></li>
								<% } %>
							<% } %>
                        </ul>
                        <div class="selectorline"></div>
                    </div>
                    <div class="full-length tabgridwrap">
                        <div class="tabgridcontent">
							<% for(var v=0;v < arrvids.length;v++){ %>
								<% 
									var splitfile = arrvids[v].split(".") 
									var tipeFile = splitfile[splitfile.length-1]
								%>
                            <div class="gridcontent active delay" id="video<%= v+1 %>" data="<%= v+1 %>">
								<div style="width: 100%; padding: 10px; text-align: center;">
									<% if(tipeFile=="jpg" || tipeFile=="jpeg" || tipeFile=="png"){ %>
										<img src="http://survey.kadence.co.id:5000/videos/<%= task[0].tipe %>/<%= task[0].id_sub_branch+'/'+arrvids[v] %>" alt="" style="height: 520px;">
									<% }else{ %>
									<video id="videoplayer" width="100%" height="520" controls style="margin-top: 30px">
										<source src="http://apps.kadence.co.id/kepo/files/<%= task[0].id+'/'+arrvids[v] %>" type="video/mp4">
										  Your browser does not support the video tag.
									</video>
									<% } %>
                                </div>
							</div>
							<% } %>
                        </div>
                    </div>
                </div>
                <!-- Tabgrid -->
			</div>
			<% }else{ %>
			<div class="cols-12">
				<!-- Tabgrid -->
				<% if(task[0].filename=="n"){ %>
					<div class="full-length containt" style="margin-top: 20px;">
						<p>Evidence Not Found</p>
					</div>	
				<% }else{ %>
				<% 
					var arrvids = task[0].filename.split(",") 
				%>
                <div class="full-length containt" style="margin-top: 20px;">
                    <div class="tabgrid full-length">
                        <ul>
							<% for(var i=0;i < arrvids.length;i++){ %>
								<% 
									var splitfile = arrvids[i].split(".") 
									var tipeFile = splitfile[splitfile.length-1]
									if(tipeFile=="jpg" || tipeFile=="jpeg" || tipeFile=="png"){
										var tabname = "Image"
									}else{
										var tabname = "Video"
									}
								%>
								<% if(i == 0){ %>
								<li class="thistab delay active" data="video<%= i+1 %>" data-target="<%= i %>"><%= tabname %> <%= i+1 %></li>
								<% }else{ %>
								<li class="thistab delay" data="video<%= i+1 %>" data-target="<%= i %>"><%= tabname %> <%= i+1 %></li>
								<% } %>
							<% } %>
                        </ul>
                        <div class="selectorline"></div>
                    </div>
                    <div class="full-length tabgridwrap">
                        <div class="tabgridcontent">
							<% for(var v=0;v < arrvids.length;v++){ %>
								<% 
									var splitfile = arrvids[v].split(".") 
									var tipeFile = splitfile[splitfile.length-1]
								%>
                            <div class="gridcontent active delay" id="video<%= v+1 %>" data="<%= v+1 %>">
								<div style="width: 100%; padding: 10px; text-align: center;">
									<% if(tipeFile=="jpg" || tipeFile=="jpeg" || tipeFile=="png"){ %>
										<img src="http://survey.kadence.co.id:5000/videos/<%= task[0].tipe %>/<%= task[0].id_sub_branch+'/'+arrvids[v] %>" alt="" style="height: 520px;">
									<% }else{ %>
									<video id="videoplayer" width="100%" height="520" controls style="margin-top: 30px">
										<source src="http://survey.kadence.co.id:5000/videos/<%= task[0].tipe %>/<%= task[0].id_sub_branch+'/'+arrvids[v] %>" type="video/mp4">
										  Your browser does not support the video tag.
									</video>
									<% } %>
                                </div>
							</div>
							<% } %>
                        </div>
                    </div>
				</div>
				<% } %>
                <!-- Tabgrid -->
			</div>
			<% } %>
		</div>
	</div>
</div>
</body>
<%- include ('../partials/footer') %>
</html>